# Ignore node_modules
node_modules/

# Ignore build output directories
dist/
build/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore coverage directory
coverage/

# Ignore .history folder
.history/

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor directories and files
.vscode/
.idea/
.DS_Store

# Ignore temporary files
*.tmp
*.swp
